body {
    font-family: Inter;
    font-size: 11px;
    background-color: #5988FF;
    color: #ffffff;
}
h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-family: Inter;
}
li {
    color: #FFFFFF;
    font-size: 20px;
}
h2 {
    color: #D6FF6B;
    font-size: 24px;
    font-family: Inter;
}
h3 {
    color: #D6FF6B;
    font-size: 24px;
    font-family: Inter;
}
