body {
    font-family: Inter; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #5988FF; /* Цвет фона веб-страницы */
    color: #ffffff; /* Цвет основного текста */ 
}
h1 {
    color: #FFFFFF; /* Цвет заголовка */
    font-size: 48px; /* Размер шрифта в пунктах */
    font-family: Inter; /* Семейство шрифтов */
}
li {
    color: #FFFFFF;
    font-size: 20px;
}
h2 {
    color: #D6FF6B;
    font-size: 24px;
    font-family: Inter;
}
h3 {
    color: #D6FF6B;
    font-size: 24px;
    font-family: Inter;
}